repos:
- repo: local
  hooks:
    - id: name-main-parse
      name: name-main-parse
      language: python
      entry: python name_main_parse.py -s
      types: [python]
      exclude: ^main.py
- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.2
  hooks:
    - id: autoflake
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
    - id: black
      args: [--line-length, "100"]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
ci:
  autofix_commit_msg: 'ci: auto fixes from pre-commit.com hooks'
  autoupdate_branch: 'main'
  autoupdate_commit_msg: 'ci: pre-commit autoupdate'